body {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 320px) {
  html {
    font-size: 7px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 8px; } }

@media screen and (min-width: 425px) {
  html {
    font-size: 9px; } }

@media screen and (min-width: 500px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 950px) {
  html {
    font-size: 12px; } }

@media screen and (min-width: 1100px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 15.5px; } }

@media screen and (min-width: 1300px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 17px; } }

@media screen and (min-width: 1500px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1600px) {
  html {
    font-size: 19px; } }

@media screen and (min-width: 1700px) {
  html {
    font-size: 20px; } }

@media screen and (min-width: 1900px) {
  html {
    font-size: 22px; } }

@media screen and (min-width: 2000px) {
  html {
    font-size: 24px; } }

@media screen and (min-width: 2500px) {
  html {
    font-size: 30px; } }

.main-events {
  background-color: #e5e5e5;
  margin: 0;
  padding: 1rem 3rem;
  padding-bottom: 4rem; }
  @media screen and (max-width: 500px) {
    .main-events {
      padding: 1rem; } }

.upcoming {
  align-items: center;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 500px) {
    .upcoming {
      justify-content: center; } }
  .upcoming-heading {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .075rem;
    text-transform: uppercase; }
    @media screen and (max-width: 500px) {
      .upcoming-heading {
        font-size: 4rem;
        letter-spacing: .3rem;
        margin: 2rem 0; } }
  @media screen and (max-width: 500px) {
    .upcoming-layout {
      display: none; } }
  .upcoming-layout-img {
    margin: 0;
    padding: .75rem;
    width: 1.75rem; }
    .upcoming-layout-img:first-child {
      background-color: #fff; }
    .upcoming-layout-img:last-child {
      background: none; }

.hr {
  background-color: #000;
  height: .125rem;
  margin: .25rem 0; }
  @media screen and (max-width: 500px) {
    .hr {
      height: .25rem; } }

.grid {
  display: grid;
  grid-gap: .625rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0 0 0; }
  @media screen and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
      grid-gap: 0;
      margin: 0; } }
  .grid-event-card {
    background-color: #fff;
    width: 100%; }
    @media screen and (max-width: 500px) {
      .grid-event-card {
        display: none; } }
    .grid-event-card-img {
      height: auto;
      width: 100%; }
    .grid-event-card-sch {
      background-color: #000;
      color: #ff4dff;
      display: flex;
      font-size: .9rem;
      justify-content: space-between;
      letter-spacing: .075rem;
      margin-top: -0.4rem;
      text-transform: uppercase; }
      .grid-event-card-sch-date {
        font-weight: 300;
        margin-left: 2rem; }
      .grid-event-card-sch-day {
        background: url("../img/day-rectangle.png");
        background-repeat: no-repeat;
        background-size: cover;
        bottom: .3rem;
        padding: 0 2rem;
        position: relative;
        z-index: 1; }
    .grid-event-card-details {
      padding: 1.25rem;
      text-align: center; }
      .grid-event-card-details-main {
        color: #ff4dff;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: .25rem;
        margin: 0;
        padding-top: .625rem;
        text-transform: uppercase; }
      .grid-event-card-details-sub {
        font-family: 'Merriweather', serif;
        font-size: 1.125rem;
        margin: .625rem;
        padding: 0;
        font-weight: 400;
        text-transform: capitalize; }
        .grid-event-card-details-sub span {
          text-transform: lowercase; }

.card-m {
  display: none; }

.newsletter {
  align-items: center;
  background: url("../img/purple_crowd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 6rem; }
  .newsletter-box {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 3rem 7rem;
    text-align: center; }
    .newsletter-box-main {
      color: #fff;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 0;
      letter-spacing: .3rem; }
    .newsletter-box-sub {
      color: #ff4dff;
      font-family: 'Merriweather', sans-serif;
      margin: .5rem 0 3rem 0;
      letter-spacing: .1rem; }
      .newsletter-box-sub br {
        display: none; }
    .newsletter-box-link {
      border: 0.125rem solid #fff;
      color: #fff;
      letter-spacing: .125rem;
      padding: .6rem 4rem;
      text-transform: uppercase;
      text-decoration: none; }
      .newsletter-box-link:hover {
        background-color: #ff4dff;
        border: 0.125rem solid #ff4dff; }

@media screen and (max-width: 500px) {
  .card-m {
    background-color: #fff;
    display: block;
    margin: 3rem auto;
    width: 100%; }
    .card-m-event {
      display: flex; }
      .card-m-event-img {
        height: 14rem;
        padding: 1rem 0 1.5rem 1rem;
        width: 17rem; }
      .card-m-event-details {
        padding: 1rem;
        text-align: left; }
        .card-m-event-details-main {
          color: #ff4dff;
          font-weight: 400;
          font-size: 3.75rem;
          letter-spacing: .25rem;
          margin: 0;
          text-transform: uppercase; }
          .card-m-event-details-main:last-of-type {
            line-height: 5rem; }
        .card-m-event-details-sub {
          font-family: 'Merriweather', serif;
          font-size: 2.1rem;
          font-weight: 400;
          letter-spacing: .25rem;
          margin: 5px 0;
          padding: 0;
          text-transform: capitalize; }
    .card-m-sch {
      background-color: #000;
      color: #ff4dff;
      display: flex;
      justify-content: space-between;
      margin-top: -5px; }
      .card-m-sch-date {
        font-size: 2rem;
        margin: .75em;
        padding-left: 1rem;
        text-transform: uppercase;
        letter-spacing: 1.2px; }
      .card-m-sch-day {
        background: url("https://raw.githubusercontent.com/monkeyshoulders/carbonhouse-project/master/img/day-rectangle.png");
        background-repeat: no-repeat;
        background-size: cover;
        bottom: .75rem;
        position: relative;
        z-index: 1; }
        .card-m-sch-day h3 {
          padding: 0 2rem 0 4.5rem;
          font-size: 1.9rem;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          margin: 1.5rem 0 0 0; }
    .card-m-tix {
      text-decoration: none; }
      .card-m-tix-box {
        background: #d345e8;
        color: white;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0; }
        .card-m-tix-box-img {
          align-self: center;
          height: 2.25rem; }
        .card-m-tix-box-text {
          font-size: 2.25rem;
          font-weight: 400;
          letter-spacing: .2rem;
          margin: 0;
          padding: 1.5rem;
          text-transform: uppercase; }
  .newsletter {
    padding: 6rem 1rem; }
    .newsletter-box {
      margin: 0;
      padding: 6rem 1rem; }
      .newsletter-box-main {
        font-size: 6.5rem;
        font-weight: 400;
        letter-spacing: .5rem;
        line-height: 7rem; }
      .newsletter-box-sub {
        margin: 1rem 0 4rem 0;
        font-size: 2.3rem;
        letter-spacing: .25rem; }
        .newsletter-box-sub br {
          display: block; }
      .newsletter-box-link {
        border-width: .25rem;
        font-size: 2.5rem;
        letter-spacing: .1rem;
        padding: 1.5rem 11rem; } }

.header {
  display: flex;
  height: 2.5rem;
  justify-content: flex-end; }
  @media screen and (max-width: 500px) {
    .header {
      display: none; } }

.get-connected {
  align-items: center;
  display: flex;
  margin: 0 1.3rem; }
  .get-connected-text {
    color: #d345e8;
    font-size: .8rem;
    letter-spacing: .05rem;
    text-transform: uppercase; }

.social-icons-list {
  display: flex;
  list-style: none;
  padding-left: 1.5rem; }

.social-icons-item-img {
  color: black;
  height: 1rem; }

.social-icons-item a:last-child {
  margin-right: 1.5rem; }

.search-events {
  align-self: center; }
  .search-events-input {
    background-color: #f5f5f5;
    border-radius: 5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1rem;
    padding: .375rem 1rem;
    width: 20rem; }
  .search-events-icon {
    position: absolute;
    right: 10.5rem;
    top: .75rem;
    width: 1rem;
    z-index: 10; }

.login {
  align-items: center;
  background: #ff4dff;
  color: white;
  display: flex;
  margin-left: 1.25rem;
  padding: 0 1.25rem; }
  .login:hover {
    background: #2e2e2e;
    color: #d345e8; }
  .login-text {
    font-size: .75rem;
    letter-spacing: .1rem;
    margin: 0 .625rem;
    text-transform: uppercase; }
  .login-img {
    margin-right: 1.25rem;
    width: 1.5rem; }

.navigaton-logo-img {
  margin: -2rem 0 0 2.75rem;
  position: absolute;
  width: 13rem; }
  @media screen and (max-width: 500px) {
    .navigaton-logo-img {
      margin: .5rem;
      margin-left: .5rem;
      position: absolute;
      width: 20rem;
      height: 9.5rem; } }

.navigaton-logo-hamburger {
  display: none; }

.navigaton-list {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0; }
  .navigaton-list-item, .navigaton-list a {
    align-items: center;
    color: #fff;
    display: flex;
    height: 3.5rem;
    letter-spacing: .1rem;
    padding: 1rem 4.25rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; }
    @media screen and (max-width: 500px) {
      .navigaton-list-item, .navigaton-list a {
        color: #000;
        padding: 3.6rem; } }
    .navigaton-list-item:hover, .navigaton-list a:hover {
      background: #d345e8; }
      @media screen and (max-width: 500px) {
        .navigaton-list-item:hover, .navigaton-list a:hover {
          background-color: #000; } }

.footer {
  display: grid;
  grid-gap: 1.3rem;
  grid-template-columns: 1fr 1fr;
  margin: .187rem 3.5rem;
  padding: 2rem 0; }
  @media screen and (max-width: 500px) {
    .footer {
      grid-template-columns: 1fr; } }

.social {
  justify-content: center;
  overflow: hidden; }
  .social-heading {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .15rem;
    text-transform: uppercase; }
    .social-heading span {
      color: #ff4dff;
      font-family: 'Merriweather', sans-serif;
      font-size: 1rem;
      letter-spacing: .1rem;
      text-transform: capitalize; }
  .social-links {
    color: #fff;
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase; }
    .social-links-item {
      background-color: #000;
      border-top: 0.15rem solid #fff;
      display: inline;
      flex-grow: 1;
      padding: .74rem;
      text-align: center; }
      .social-links-item:nth-child(even) {
        border-left: 0.0625rem solid #fff;
        border-right: 0.0625rem solid #fff; }
      .social-links-item a {
        color: #fff;
        letter-spacing: .075rem;
        padding-left: .625rem;
        text-decoration: none; }
    .social-links #tab-1:hover {
      background: url("../img/social-active.png");
      border-top: 0.15rem solid #000;
      transform: translateY(0.15rem); }
    .social-links #tab-2:hover {
      background: url("../img/social-active.png");
      border-top: 0.15rem solid #000;
      transform: translateY(0.15rem); }
    .social-links #tab-3:hover {
      background: url("../img/social-active.png");
      border-top: 0.15rem solid #000;
      transform: translateY(0.15rem); }
  .social-container {
    background-color: #e1e1e1;
    margin-top: 1rem;
    padding: 0 1rem; }
    .social-container-top {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 1rem; }
      .social-container-top h2 {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: .15rem;
        text-transform: uppercase; }
      .social-container-top span {
        color: #ff4dff;
        font-family: "Oswald", sans-serif;
        font-size: 1.1rem;
        letter-spacing: .075rem;
        text-transform: uppercase; }
    .social-container-nav i {
      color: #ff4dff;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1rem;
      padding-right: 0; }
      .social-container-nav i i:last-of-type {
        padding-left: .75rem; }
    .social-container-scroll {
      background: #e1e1e1;
      display: flex;
      min-width: 100%;
      overflow-x: auto; }
      .social-container-scroll-tweet {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        margin: 0 .75rem 1.5rem 0; }
        .social-container-scroll-tweet-card {
          background: #fff;
          margin-right: 1rem; }
          .social-container-scroll-tweet-card-heading {
            display: flex;
            padding: 1.5rem;
            padding-bottom: 0; }
            .social-container-scroll-tweet-card-heading i {
              color: #d345e8;
              font-size: 1.187rem; }
            .social-container-scroll-tweet-card-heading p {
              color: #000;
              font-weight: 400;
              font-size: 1.1em;
              margin: 0;
              padding: 0 .625rem; }
          .social-container-scroll-tweet-card-content {
            font-family: 'Lato', sans-serif;
            font-size: .9rem;
            padding: .25rem 1.3rem;
            padding-bottom: 3rem;
            line-height: 1.5; }
            .social-container-scroll-tweet-card-content span {
              color: #ff4dff;
              font-family: 'Lato', sans-serif;
              text-transform: none; }
          .social-container-scroll-tweet-card-info {
            background: #d345e8;
            color: white;
            display: flex;
            font-family: "Lato" sans-serif;
            font-size: .75rem;
            font-weight: 400;
            justify-content: space-between;
            padding: 0 .75rem; }
            .social-container-scroll-tweet-card-info-actions {
              align-self: center; }
              .social-container-scroll-tweet-card-info-actions i {
                color: white;
                padding: 0 .175rem; }

.directions-heading {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: .15rem;
  text-transform: uppercase; }
  .directions-heading span {
    color: #ff4dff;
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: capitalize; }

.directions-address {
  align-items: center;
  color: #fff;
  background-color: #000;
  display: flex;
  height: 2.95rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transform: translateY(2px); }
  .directions-address-main {
    letter-spacing: .075rem;
    margin: 0;
    padding: 0;
    padding-right: 1rem; }
  .directions-address-sub {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: .0625rem;
    text-transform: capitalize; }

.directions-map {
  background: #f5f5f5;
  padding: .9rem; }
  .directions-map #map {
    height: 21.3rem;
    width: 100%; }
