@media screen and (max-width: 500px) {

  .card-m {
    background-color: $white;
    display: block;
    margin: 3rem auto;
    width: 100%;

    &-event {
      display: flex;

      &-img {
        height: 14rem;
        padding: 1rem 0 1.5rem 1rem;
        width: 17rem;
      }

      &-details {
        padding: 1rem;
        text-align: left;

        &-main {
          color: $pink;
          font-weight: 400;
          font-size: 3.75rem;
          letter-spacing: .25rem;
          margin: 0;
          text-transform: uppercase;

          &:last-of-type {
            line-height: 5rem;
          }
        }

        &-sub {
          font-family: 'Merriweather', serif;
          font-size: 2.1rem;
          font-weight: 400;
          letter-spacing: .25rem;
          margin: 5px 0;
          padding: 0;
          text-transform: capitalize;
        }
      }
    }

    &-sch {
      background-color: $black;
      color: $pink;
      display: flex;
      justify-content: space-between;
      margin-top: -5px;

      &-date {
        font-size: 2rem;
        margin: .75em;
        padding-left: 1rem;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }

      &-day {
        background: url('https://raw.githubusercontent.com/monkeyshoulders/carbonhouse-project/master/img/day-rectangle.png');
        background-repeat: no-repeat;
        background-size: cover;
        bottom: .75rem;
        position: relative;
        z-index: 1;

        h3 {
          padding: 0 2rem 0 4.5rem;
          font-size: 1.9rem;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          margin: 1.5rem 0 0 0;
        }
      }
    }

    &-tix {
      text-decoration: none;

      &-box {
        background: $dark-pink;
        color: white;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        &-img {
          align-self: center;
          height: 2.25rem;
        }

        &-text {
          font-size: 2.25rem;
          font-weight: 400;
          letter-spacing: .2rem;
          margin: 0;
          padding: 1.5rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .newsletter {
    padding: 6rem 1rem;

    &-box {
      margin: 0;
      padding: 6rem 1rem;

      &-main {
        font-size: 6.5rem;
        font-weight: 400;
        letter-spacing: .5rem;
        line-height: 7rem;
      }

      &-sub {
        margin: 1rem 0 4rem 0;
        font-size: 2.3rem;
        letter-spacing: .25rem;

        br {
          display: block;
        }
      }

      &-link {
        border-width: .25rem;
        font-size: 2.5rem;
        letter-spacing: .1rem;
        padding: 1.5rem 11rem;
      }
    }
  }
}
