
// COLORS
$pink: #de53f3;
$dark-pink: #d345e8;
$grey: #e5e5e5;
$light-grey: #e1e1e1;
$dark-grey: #2e2e2e;
$darkest-black: #1d1d1d;
$black: #000;
$white: #fff;
$dark-white: #f5f5f5;


$map: (
  320px: 10px,
  425px: 11px,
  500px: 12px,
  1200px: 15px,
  1300px: 15px,

);

@each $key, $val in $map {

  @media screen and (min-width: $key){
    html {
      font-size: $val
    }
  }
}
